/* colors */
/* basic setting */
body {
  font-size: 10px;
}
.slick-active {
  outline: none;
}
/* header */
header {
  background-image: url(../img/header_bd.jpg);
  background-size: cover;
}
header .phone {
  background-color: rgba(0, 0, 0, 0.5);
}
header .menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
header .menu-amenu {
  display: none;
}
header .menu-text {
  text-align: center;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}
header .menu-text h3 {
  color: #ffecec;
  font-size: 1.31em;
}
header .menu-call {
  margin-left: 50px;
}
header .menu-call img {
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
}
header .menu-call h5 {
  -webkit-transform: translate(-25%, 40%);
          transform: translate(-25%, 40%);
  text-align: right;
  font-size: 1.8em;
  color: #ffb40d;
}
header .name {
  text-align: center;
}
header .name-lit {
  font-family: Syncopate, 900;
  margin-top: 110px;
  color: transparent;
  text-transform: uppercase;
  text-shadow: 0 0 0px #ffb40d;
}
header .name-lit h2 {
  font-size: 12em;
}
header .name-p-first {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
header .name-p-first p {
  color: #ffecec;
  font-size: 3em;
  text-align: left;
  margin-top: 125px;
}
header .name-p-second {
  display: none;
}
/* screen2 */
.screen2-mission {
  font-family: Syncopate, 700;
}
.screen2-mission-our {
  margin-top: 70px;
}
.screen2-mission-our h6 {
  font-size: 2.8em;
  text-transform: uppercase;
  text-align: left;
  color: #ffb40d;
}
.screen2-mission-main h2 {
  font-size: 6em;
  text-transform: uppercase;
  color: #1d3244;
}
.screen2-mission-can {
  margin-top: 25px;
}
.screen2-mission-can h5 {
  font-size: 2.7em;
  text-transform: uppercase;
  color: #1d3244;
}
.screen2-mission-can-u {
  position: absolute;
  text-transform: uppercase;
  color: #ffb40d;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translate(-345%, -18%);
          transform: translate(-345%, -18%);
  font-size: 23em;
}
.screen2-desc {
  margin-top: 90px;
  margin-bottom: 300px;
}
.screen2-desc p {
  font-family: Roboto;
  font-size: 1.9em;
  height: 27%;
}
.screen2-desc-we h2 {
  font-family: Montserrat, 800;
  text-align: right;
  color: #ffecec;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
}
.screen2-desc-we p {
  text-align: right;
}
.screen2-desc-we hr {
  border: 3px solid #EBF0FE;
  -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
          box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
  -webkit-transform: translate(59%, -3200%) rotate(90deg);
          transform: translate(59%, -3200%) rotate(90deg);
  width: 90%;
}
.screen2-desc-partners h2 {
  font-family: Montserrat, 800;
  color: #1d3244;
}
.screen2-desc-partners-r {
  position: absolute;
  text-transform: uppercase;
  color: #ffecec;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translate(260%, 20%);
          transform: translate(260%, 20%);
  font-size: 23em;
}
/* screen3 */
.screen3-name h2 {
  font-family: Syncopate, 800;
  font-size: 3.9em;
}
.screen3-name-s {
  position: absolute;
  text-transform: uppercase;
  color: #ffb40d;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translate(-115%, -55%);
          transform: translate(-115%, -55%);
  font-size: 23em;
}
.screen3-name-navvor {
  margin-top: 25px;
}
.screen3-name-navvor-prevS3 {
  float: left;
}
.screen3-name-navvor-nextS3 {
  float: right;
}
.screen3-slider {
  margin-top: 30px;
}
.screen3-slider .block {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.screen3-slider-imgM {
  width: 95%;
}
.screen3-slider h2 {
  height: 25px;
  margin-top: 16px;
  font-family: Montserrat;
  font-size: 2em;
}
.screen3-slider p {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 1.4em;
  height: 100px;
}
.screen3-slider-a {
  text-decoration: underline;
  color: #1d3244;
  font-family: Montserrat;
  font-size: 2em;
  margin-left: 55px;
  margin-top: -30px;
}
.screen3-slider-data {
  margin-top: -25px;
  margin-left: 55px;
  font-family: Montserrat;
  font-size: 1.6em;
  color: #1d3244;
}
.screen3-slider-place {
  margin-top: -37px;
  margin-left: 55px;
  font-family: Montserrat;
  font-size: 1.6em;
  color: #1d3244;
}
.screen3-slider-geo {
  margin-top: 15px;
  margin-left: 3px;
}
/* screen6 */
.screen6 {
  background-image: url(../img/screen6_bg.jpg);
  background-size: cover;
}
.screen6 .phone {
  background-color: rgba(0, 0, 0, 0.5);
}
.screen6-numbers {
  margin-top: 35px;
  text-align: center;
  color: #ffecec;
  text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
}
.screen6-numbers h3 {
  font-size: 27em;
  font-family: Montserrat, 800;
}
.screen6-numbers h5 {
  font-size: 3.6em;
  font-family: Montserrat, 800;
  margin-bottom: 20px;
}
/* adaptiv */
@media (max-width: 399px) {
  body {
    font-size: 5px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-amenu {
    display: inline-block;
  }
  header .menu-amenu img {
    width: 85%;
  }
  header .menu-logo img {
    width: 60%;
  }
  header .menu-text {
    display: none;
  }
  header .menu-call img {
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
    width: 20px;
    margin-left: -10px;
  }
  header .menu-call h5 {
    display: none;
  }
  header .name {
    text-align: center;
  }
  header .name .big {
    font-size: 2em;
  }
  header .name .small {
    font-size: 1em;
  }
  header .name .med {
    font-size: 1.5em;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 50px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  header .name-p-second p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 30px;
  }
  header .name-p-first {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.2em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(170%, -200%);
            transform: translate(170%, -200%);
    font-size: 16em;
  }
  .screen2-desc {
    margin-top: 70px;
    margin-bottom: 300px;
  }
  .screen2-desc h2 {
    font-size: 6em;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 2.8em;
  }
  .screen2-desc-we {
    margin-top: -65px;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: left;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: left;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(0%, 300%) rotate(0deg);
            transform: translate(0%, 300%) rotate(0deg);
    width: 100%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-12%, -20%);
            transform: translate(-12%, -20%);
    font-size: 17em;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 10px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 14em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 1.8em;
    font-family: Montserrat, 800;
    margin-bottom: 10px;
  }
}
@media (min-width: 400px) and (max-width: 575px) {
  body {
    font-size: 7px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-amenu {
    display: inline-block;
  }
  header .menu-logo img {
    width: 80%;
  }
  header .menu-text {
    display: none;
  }
  header .menu-call img {
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
  }
  header .menu-call h5 {
    display: none;
  }
  header .name {
    text-align: center;
  }
  header .name .big {
    font-size: 2em;
  }
  header .name .small {
    font-size: 1em;
  }
  header .name .med {
    font-size: 1.5em;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 50px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  header .name-p-second p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 30px;
  }
  header .name-p-first {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(170%, -200%);
            transform: translate(170%, -200%);
    font-size: 16em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc h2 {
    font-size: 6em;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 2.4em;
  }
  .screen2-desc-we {
    margin-top: -65px;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: left;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: left;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(0%, 300%) rotate(0deg);
            transform: translate(0%, 300%) rotate(0deg);
    width: 100%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-12%, -20%);
            transform: translate(-12%, -20%);
    font-size: 17em;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 20px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 12em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 1.5em;
    font-family: Montserrat, 800;
    margin-bottom: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 7px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-amenu {
    display: inline-block;
  }
  header .menu-logo img {
    width: 80%;
  }
  header .menu-text {
    display: none;
  }
  header .menu-call {
    margin-left: 50px;
  }
  header .menu-call img {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    width: 12%;
  }
  header .menu-call h5 {
    -webkit-transform: translate(-25%, 40%);
            transform: translate(-25%, 40%);
    margin-left: 45px;
    text-align: right;
    font-size: 1.6em;
    color: #ffb40d;
  }
  header .name {
    text-align: center;
  }
  header .name .big {
    font-size: 2em;
  }
  header .name .small {
    font-size: 1em;
  }
  header .name .med {
    font-size: 1.5em;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 50px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  header .name-p-second p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 30px;
  }
  header .name-p-first {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-340%, -10%);
            transform: translate(-340%, -10%);
    font-size: 17em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc h2 {
    font-size: 4em;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 1.8em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(48.5%, -2200%) rotate(90deg);
            transform: translate(48.5%, -2200%) rotate(90deg);
    width: 105%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(220%, -15%);
            transform: translate(220%, -15%);
    font-size: 17em;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 35px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 13em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 2em;
    font-family: Montserrat, 800;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 7px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-logo img {
    width: 85%;
  }
  header .menu-text {
    margin-left: 3px;
    text-align: center;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  header .menu-text h3 {
    color: #ffecec;
    font-size: 1.31em;
  }
  header .menu-call {
    margin-left: 50px;
  }
  header .menu-call img {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
    width: 12%;
  }
  header .menu-call h5 {
    -webkit-transform: translate(-25%, 90%);
            transform: translate(-25%, 90%);
    margin-left: 45px;
    text-align: right;
    font-size: 1.6em;
    color: #ffb40d;
  }
  header .name {
    text-align: center;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 90px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-first {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  header .name-p-first p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 105px;
  }
  header .name-p-second {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-345%, -18%);
            transform: translate(-345%, -18%);
    font-size: 23em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 1.8em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(40%, -2200%) rotate(90deg);
            transform: translate(40%, -2200%) rotate(90deg);
    width: 115%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(260%, 20%);
            transform: translate(260%, 20%);
    font-size: 23em;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 35px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 20em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 2.9em;
    font-family: Montserrat, 800;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* basic setting */
  body {
    font-size: 8px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-text {
    text-align: center;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  header .menu-text h3 {
    color: #ffecec;
    font-size: 1.31em;
  }
  header .menu-call {
    margin-left: 50px;
  }
  header .menu-call img {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  header .menu-call h5 {
    -webkit-transform: translate(-25%, 70%);
            transform: translate(-25%, 70%);
    margin-left: 25px;
    text-align: right;
    font-size: 1.8em;
    color: #ffb40d;
  }
  header .name {
    text-align: center;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 110px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 12em;
  }
  header .name-p-first {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  header .name-p-first p {
    color: #ffecec;
    font-size: 3em;
    text-align: left;
    margin-top: 125px;
  }
  header .name-p-second {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-345%, -18%);
            transform: translate(-345%, -18%);
    font-size: 23em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 1.8em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(53%, -2500%) rotate(90deg);
            transform: translate(53%, -2500%) rotate(90deg);
    width: 100%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(260%, 20%);
            transform: translate(260%, 20%);
    font-size: 23em;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 35px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 24em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 3.3em;
    font-family: Montserrat, 800;
    margin-bottom: 20px;
  }
}
