/* colors */
/* basic setting */
body {
  font-size: 10px;
}
.slick-active {
  outline: none;
}
/* header */
header {
  background-image: url(../img/header_bd.jpg);
  background-size: cover;
}
header .phone {
  background-color: rgba(0, 0, 0, 0.5);
}
header .menu {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
header .menu-amenu {
  display: none;
}
header .menu-text {
  text-align: center;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}
header .menu-text h3 {
  color: #ffecec;
  font-size: 1.31em;
}
header .menu-call {
  margin-left: 50px;
}
header .menu-call img {
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
}
header .menu-call h5 {
  -webkit-transform: translate(-25%, 40%);
          transform: translate(-25%, 40%);
  text-align: right;
  font-size: 1.8em;
  color: #ffb40d;
}
header .name {
  text-align: center;
}
header .name-lit {
  font-family: Syncopate, 900;
  margin-top: 110px;
  color: transparent;
  text-transform: uppercase;
  text-shadow: 0 0 0px #ffb40d;
}
header .name-lit h2 {
  font-size: 12em;
}
header .name-p-first {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
header .name-p-first p {
  color: #ffecec;
  font-size: 3em;
  text-align: left;
  margin-top: 125px;
}
header .name-p-second {
  display: none;
}
/* screen2 */
.screen2-mission {
  font-family: Syncopate, 700;
}
.screen2-mission-our {
  margin-top: 70px;
}
.screen2-mission-our h6 {
  font-size: 2.8em;
  text-transform: uppercase;
  text-align: left;
  color: #ffb40d;
}
.screen2-mission-main h2 {
  font-size: 6em;
  text-transform: uppercase;
  color: #1d3244;
}
.screen2-mission-can {
  margin-top: 25px;
}
.screen2-mission-can h5 {
  font-size: 2.7em;
  text-transform: uppercase;
  color: #1d3244;
}
.screen2-mission-can-u {
  position: absolute;
  text-transform: uppercase;
  color: #ffb40d;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translate(-345%, -18%);
          transform: translate(-345%, -18%);
  font-size: 23em;
}
.screen2-desc {
  margin-top: 90px;
  margin-bottom: 300px;
}
.screen2-desc p {
  font-family: Roboto;
  font-size: 1.9em;
  height: 27%;
}
.screen2-desc-we h2 {
  font-family: Montserrat, 800;
  text-align: right;
  color: #ffecec;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
}
.screen2-desc-we p {
  text-align: right;
}
.screen2-desc-we hr {
  border: 3px solid #EBF0FE;
  -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
          box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
  -webkit-transform: translate(59%, -3200%) rotate(90deg);
          transform: translate(59%, -3200%) rotate(90deg);
  width: 90%;
}
.screen2-desc-partners h2 {
  font-family: Montserrat, 800;
  color: #1d3244;
}
.screen2-desc-partners-r {
  position: absolute;
  text-transform: uppercase;
  color: #ffecec;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translate(260%, 20%);
          transform: translate(260%, 20%);
  font-size: 23em;
}
/* screen3 */
.screen3 {
  margin-top: -220px;
}
.screen3-name h2 {
  font-family: Syncopate, 800;
  font-size: 3.9em;
}
.screen3-name-s {
  position: absolute;
  text-transform: uppercase;
  color: #ffb40d;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  font-size: 23em;
}
.screen3-name-navvor {
  margin-top: 25px;
}
.screen3-name-navvor-prevS3 {
  float: left;
}
.screen3-name-navvor-nextS3 {
  float: right;
}
.screen3-slider {
  margin-top: 30px;
}
.screen3-slider .block {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.screen3-slider-imgM {
  width: 95%;
}
.screen3-slider h2 {
  height: 25px;
  margin-top: 16px;
  font-family: Montserrat;
  font-size: 2em;
}
.screen3-slider p {
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 1.4em;
  height: 100px;
}
.screen3-slider-a {
  text-decoration: underline;
  color: #1d3244;
  font-family: Montserrat;
  font-size: 2em;
  margin-left: 55px;
  margin-top: -30px;
}
.screen3-slider-data {
  margin-top: -25px;
  margin-left: 55px;
  font-family: Montserrat;
  font-size: 1.6em;
  color: #1d3244;
}
.screen3-slider-place {
  margin-top: -37px;
  margin-left: 55px;
  font-family: Montserrat;
  font-size: 1.6em;
  color: #1d3244;
}
.screen3-slider-geo {
  margin-top: 15px;
  margin-left: 3px;
}
/* screen4 */
.screen4 {
  margin-top: 100px;
}
.screen4 .h {
  position: absolute;
  text-transform: uppercase;
  color: #ffecec;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  right: 7%;
  font-size: 23em;
}
.screen4-textfirst-t p {
  font-family: Roboto;
  font-size: 1.9em;
}
.screen4-textfirst-b {
  display: none;
}
.screen4-textsecond h3 {
  font-family: Syncopate, 800;
  font-size: 8em;
  line-height: 80%;
}
.screen4-textsecond p {
  margin-top: -60px;
  margin-left: 170px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 2.8em;
}
/* screen5 */
.screen5 .o {
  position: absolute;
  text-transform: uppercase;
  color: #ffb40d;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  left: 3%;
  font-size: 19em;
}
.screen5 .w {
  position: absolute;
  text-transform: uppercase;
  color: #ffecec;
  text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  font-family: Montserrat, 900;
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
  left: 1%;
  font-size: 19em;
}
.screen5-name {
  margin-top: 150px;
}
.screen5-name h2 {
  font-family: Syncopate, 800;
  font-size: 3em;
  text-transform: uppercase;
  color: #1d3244;
}
.screen5-text ul {
  color: #1d3244;
  font-size: 1.7em;
  font-family: Roboto;
}
.screen5-text ul li span {
  color: #ffb40d;
}
.screen5-text h2 {
  font-family: Syncopate;
  margin-left: 150px;
  font-weight: 600;
}
.screen5-text button {
  text-align: center;
  display: inline-block;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  margin-left: 145px;
  margin-bottom: 150px;
  background: #ffb40d;
  border: none;
  color: #1d3244;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 130%;
  width: 22%;
  height: 6%;
}
.screen5-photo-p1 {
  position: absolute;
  width: 300px;
  -webkit-transform: translate(-40%, 0%);
          transform: translate(-40%, 0%);
}
.screen5-photo-p2 {
  position: absolute;
  width: 200px;
  right: 0;
}
.screen5-photo-p3 {
  position: absolute;
  width: 400px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
}
.screen5-photo-p4 {
  position: absolute;
  width: 320px;
  -webkit-transform: translate(-70%, 210%);
          transform: translate(-70%, 210%);
}
.screen5-photo-p5 {
  position: absolute;
  width: 180px;
  right: 0;
  -webkit-transform: translateY(125%);
          transform: translateY(125%);
}
/* screen6 */
.screen6 {
  background-image: url(../img/screen6_bg.jpg);
  background-size: cover;
}
.screen6 .phone {
  background-color: rgba(0, 0, 0, 0.5);
}
.screen6-numbers {
  margin-top: 35px;
  text-align: center;
  color: #ffecec;
  text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
}
.screen6-numbers h3 {
  font-size: 27em;
  font-family: Montserrat, 800;
}
.screen6-numbers h5 {
  font-size: 3.6em;
  font-family: Montserrat, 800;
  margin-bottom: 20px;
}
/* adaptiv */
@media (max-width: 399px) {
  body {
    font-size: 5px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-amenu {
    display: inline-block;
  }
  header .menu-amenu img {
    width: 85%;
  }
  header .menu-logo img {
    width: 60%;
  }
  header .menu-text {
    display: none;
  }
  header .menu-call img {
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
    width: 20px;
    margin-left: -10px;
  }
  header .menu-call h5 {
    display: none;
  }
  header .name {
    text-align: center;
  }
  header .name .big {
    font-size: 2em;
  }
  header .name .small {
    font-size: 1em;
  }
  header .name .med {
    font-size: 1.5em;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 50px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  header .name-p-second p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 30px;
  }
  header .name-p-first {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.2em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(170%, -200%);
            transform: translate(170%, -200%);
    font-size: 16em;
  }
  .screen2-desc {
    margin-top: 70px;
    margin-bottom: 300px;
  }
  .screen2-desc h2 {
    font-size: 6em;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 2.8em;
  }
  .screen2-desc-we {
    margin-top: -65px;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: left;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: left;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(0%, 300%) rotate(0deg);
            transform: translate(0%, 300%) rotate(0deg);
    width: 100%;
  }
  .screen2-desc-partners {
    margin-top: -20px;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-12%, -5%);
            transform: translate(-12%, -5%);
    font-size: 17em;
  }
  /* screen3 */
  .screen3-name h2 {
    font-family: Syncopate, 800;
    font-size: 5.5em;
  }
  .screen3-name-s {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(460%);
            transform: translateY(460%);
    right: 10%;
    font-size: 22em;
  }
  .screen3-name-navvor {
    display: none;
    margin-top: 25px;
  }
  .screen3-name-navvor-prevS3 {
    float: left;
  }
  .screen3-name-navvor-nextS3 {
    float: right;
  }
  .screen3-slider {
    margin-top: 30px;
  }
  .screen3-slider .block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .screen3-slider-imgM {
    width: 100%;
  }
  .screen3-slider h2 {
    height: 30%;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 4.5em;
  }
  .screen3-slider p {
    margin-top: 35px;
    font-family: Montserrat;
    font-size: 2.8em;
    height: 100px;
    margin-bottom: 90px;
  }
  .screen3-slider-a {
    text-decoration: underline;
    color: #1d3244;
    font-family: Montserrat;
    font-size: 3.2em;
    margin-left: 55px;
    margin-top: -30px;
  }
  .screen3-slider-data {
    margin-top: -25px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 2.8em;
    color: #1d3244;
  }
  .screen3-slider-place {
    margin-top: -30px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 2.8em;
    color: #1d3244;
  }
  .screen3-slider-geo {
    margin-top: 15px;
    margin-left: 3px;
  }
  /* screen4 */
  .screen4 {
    margin-top: 40px;
  }
  .screen4 .h {
    display: none;
  }
  .screen4-textfirst-t {
    display: none;
  }
  .screen4-textfirst-b {
    display: inline;
  }
  .screen4-textfirst-b p {
    font-family: Roboto;
    font-size: 2.3em;
  }
  .screen4-textsecond h3 {
    font-family: Syncopate, 800;
    font-size: 12em;
    line-height: 80%;
  }
  .screen4-textsecond p {
    margin-top: -55px;
    margin-left: 130px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3em;
  }
  /* screen5 */
  .screen5 .o {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    left: 3%;
    font-size: 18em;
    display: none;
  }
  .screen5 .w {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    left: 1%;
    font-size: 20em;
  }
  .screen5 .int {
    text-align: center;
  }
  .screen5-name {
    margin-top: 100px;
  }
  .screen5-name h2 {
    font-family: Syncopate, 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen5-text ul {
    color: #1d3244;
    font-size: 3em;
    font-family: Roboto;
  }
  .screen5-text ul li {
    margin-top: 15px;
  }
  .screen5-text ul li span {
    color: #ffb40d;
  }
  .screen5-text h2 {
    font-family: Syncopate;
    margin-left: 0px;
    font-weight: 600;
    font-size: 5.5em;
  }
  .screen5-text button {
    text-align: center;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin-left: 0px;
    margin-bottom: 300px;
    background: #ffb40d;
    border: none;
    color: #1d3244;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 200%;
    width: 50%;
    height: 30px;
  }
  .screen5-photo-p1 {
    position: absolute;
    width: 200px;
    -webkit-transform: translate(-25%, -230%);
            transform: translate(-25%, -230%);
  }
  .screen5-photo-p2 {
    position: absolute;
    width: 140px;
    right: 0;
    -webkit-transform: translateY(-220%);
            transform: translateY(-220%);
  }
  .screen5-photo-p3 {
    display: none;
  }
  .screen5-photo-p4 {
    position: absolute;
    width: 210px;
    -webkit-transform: translate(35%, -150%);
            transform: translate(35%, -150%);
  }
  .screen5-photo-p5 {
    display: none;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 10px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 14em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 1.8em;
    font-family: Montserrat, 800;
    margin-bottom: 10px;
  }
}
@media (min-width: 400px) and (max-width: 575px) {
  body {
    font-size: 7px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-amenu {
    display: inline-block;
  }
  header .menu-logo img {
    width: 80%;
  }
  header .menu-text {
    display: none;
  }
  header .menu-call img {
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
  }
  header .menu-call h5 {
    display: none;
  }
  header .name {
    text-align: center;
  }
  header .name .big {
    font-size: 2em;
  }
  header .name .small {
    font-size: 1em;
  }
  header .name .med {
    font-size: 1.5em;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 50px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  header .name-p-second p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 30px;
  }
  header .name-p-first {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(170%, -200%);
            transform: translate(170%, -200%);
    font-size: 16em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc h2 {
    font-size: 6em;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 2.4em;
  }
  .screen2-desc-we {
    margin-top: -65px;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: left;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: left;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(0%, 300%) rotate(0deg);
            transform: translate(0%, 300%) rotate(0deg);
    width: 100%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-12%, -10%);
            transform: translate(-12%, -10%);
    font-size: 17em;
  }
  /* screen3 */
  .screen3-name {
    margin-top: 30px;
  }
  .screen3-name h2 {
    font-family: Syncopate, 800;
    font-size: 5.5em;
  }
  .screen3-name-s {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(450%);
            transform: translateY(450%);
    right: 14%;
    font-size: 20em;
  }
  .screen3-name-navvor {
    display: none;
    margin-top: 25px;
  }
  .screen3-name-navvor-prevS3 {
    float: left;
  }
  .screen3-name-navvor-nextS3 {
    float: right;
  }
  .screen3-slider {
    margin-top: 30px;
  }
  .screen3-slider .block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .screen3-slider-imgM {
    width: 100%;
  }
  .screen3-slider h2 {
    height: 30%;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 4.5em;
  }
  .screen3-slider p {
    margin-top: 35px;
    font-family: Montserrat;
    font-size: 2.8em;
    height: 100px;
    margin-bottom: 140px;
  }
  .screen3-slider-a {
    text-decoration: underline;
    color: #1d3244;
    font-family: Montserrat;
    font-size: 3.2em;
    margin-left: 55px;
    margin-top: -30px;
  }
  .screen3-slider-data {
    margin-top: -25px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 2.8em;
    color: #1d3244;
  }
  .screen3-slider-place {
    margin-top: -30px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 2.8em;
    color: #1d3244;
  }
  .screen3-slider-geo {
    margin-top: 15px;
    margin-left: 3px;
  }
  /* screen4 */
  .screen4 {
    margin-top: 40px;
  }
  .screen4 .h {
    display: none;
  }
  .screen4-textfirst-t {
    display: none;
  }
  .screen4-textfirst-b {
    display: inline;
  }
  .screen4-textfirst-b p {
    font-family: Roboto;
    font-size: 2.1em;
  }
  .screen4-textsecond h3 {
    font-family: Syncopate, 800;
    font-size: 12em;
    line-height: 80%;
  }
  .screen4-textsecond p {
    margin-top: -55px;
    margin-left: 180px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3em;
  }
  /* screen5 */
  .screen5 .o {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    left: 3%;
    font-size: 18em;
    display: none;
  }
  .screen5 .w {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    left: 1%;
    font-size: 18em;
  }
  .screen5 .int {
    text-align: center;
  }
  .screen5-name h2 {
    font-family: Syncopate, 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen5-text ul {
    color: #1d3244;
    font-size: 3em;
    font-family: Roboto;
  }
  .screen5-text ul li {
    margin-top: 15px;
  }
  .screen5-text ul li span {
    color: #ffb40d;
  }
  .screen5-text h2 {
    font-family: Syncopate;
    margin-left: 0px;
    font-weight: 600;
    font-size: 5.5em;
  }
  .screen5-text button {
    text-align: center;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin-left: 0px;
    margin-bottom: 300px;
    background: #ffb40d;
    border: none;
    color: #1d3244;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 200%;
    width: 40%;
    height: 30px;
  }
  .screen5-photo-p1 {
    position: absolute;
    width: 200px;
    -webkit-transform: translate(-25%, -230%);
            transform: translate(-25%, -230%);
  }
  .screen5-photo-p2 {
    position: absolute;
    width: 140px;
    right: 0;
    -webkit-transform: translateY(-220%);
            transform: translateY(-220%);
  }
  .screen5-photo-p3 {
    display: none;
  }
  .screen5-photo-p4 {
    position: absolute;
    width: 280px;
    -webkit-transform: translate(35%, -150%);
            transform: translate(35%, -150%);
  }
  .screen5-photo-p5 {
    display: none;
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 20px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 12em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 1.5em;
    font-family: Montserrat, 800;
    margin-bottom: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 7px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-amenu {
    display: inline-block;
  }
  header .menu-logo img {
    width: 80%;
  }
  header .menu-text {
    display: none;
  }
  header .menu-call {
    margin-left: 50px;
  }
  header .menu-call img {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    width: 12%;
  }
  header .menu-call h5 {
    -webkit-transform: translate(-25%, 40%);
            transform: translate(-25%, 40%);
    margin-left: 45px;
    text-align: right;
    font-size: 1.6em;
    color: #ffb40d;
  }
  header .name {
    text-align: center;
  }
  header .name .big {
    font-size: 2em;
  }
  header .name .small {
    font-size: 1em;
  }
  header .name .med {
    font-size: 1.5em;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 50px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-second {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
  }
  header .name-p-second p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 30px;
  }
  header .name-p-first {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-340%, -10%);
            transform: translate(-340%, -10%);
    font-size: 17em;
  }
  .screen2-desc {
    margin-top: 80px;
    margin-bottom: 300px;
  }
  .screen2-desc h2 {
    font-size: 4em;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 2em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(48.5%, -2200%) rotate(90deg);
            transform: translate(48.5%, -2200%) rotate(90deg);
    width: 105%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(220%, -15%);
            transform: translate(220%, -15%);
    font-size: 17em;
  }
  /* screen3 */
  .screen3-name h2 {
    font-family: Syncopate, 800;
    font-size: 5.5em;
  }
  .screen3-name-s {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
    right: 14%;
    font-size: 22em;
  }
  .screen3-name-navvor {
    margin-top: 25px;
  }
  .screen3-name-navvor-prevS3 {
    float: left;
  }
  .screen3-name-navvor-nextS3 {
    float: right;
  }
  .screen3-slider {
    margin-top: 30px;
  }
  .screen3-slider .block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .screen3-slider-imgM {
    width: 95%;
  }
  .screen3-slider h2 {
    height: 25px;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 2em;
  }
  .screen3-slider p {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 1.7em;
    height: 100px;
  }
  .screen3-slider-a {
    text-decoration: underline;
    color: #1d3244;
    font-family: Montserrat;
    font-size: 2em;
    margin-left: 55px;
    margin-top: -30px;
  }
  .screen3-slider-data {
    margin-top: -25px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-place {
    margin-top: -28px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-geo {
    margin-top: 15px;
    margin-left: 3px;
  }
  /* screen4 */
  .screen4 {
    margin-top: 40px;
  }
  .screen4 .h {
    display: none;
  }
  .screen4-textfirst-t {
    display: none;
  }
  .screen4-textfirst-b {
    display: inline;
  }
  .screen4-textfirst-b p {
    font-family: Roboto;
    font-size: 1.95em;
  }
  .screen4-textsecond h3 {
    font-family: Syncopate, 800;
    font-size: 12em;
    line-height: 80%;
  }
  .screen4-textsecond p {
    margin-top: -55px;
    margin-left: 180px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3em;
  }
  /* screen5 */
  .screen5 .o {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    left: 3%;
    font-size: 18em;
    display: none;
  }
  .screen5 .w {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    left: 1%;
    font-size: 18em;
  }
  .screen5-name h2 {
    font-family: Syncopate, 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen5-text ul {
    color: #1d3244;
    font-size: 1.7em;
    font-family: Roboto;
  }
  .screen5-text ul li span {
    color: #ffb40d;
  }
  .screen5-text h2 {
    font-family: Syncopate;
    margin-left: 130px;
    font-weight: 600;
    font-size: 4em;
  }
  .screen5-text button {
    text-align: center;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin-left: 105px;
    margin-bottom: 250px;
    background: #ffb40d;
    border: none;
    color: #1d3244;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 160%;
    width: 36%;
    height: 6.5%;
  }
  .screen5-photo-p1 {
    position: absolute;
    width: 180px;
    -webkit-transform: translate(-25%, 25%);
            transform: translate(-25%, 25%);
  }
  .screen5-photo-p2 {
    position: absolute;
    width: 160px;
    right: 0;
  }
  .screen5-photo-p3 {
    position: absolute;
    width: 280px;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    right: 0;
  }
  .screen5-photo-p4 {
    position: absolute;
    width: 280px;
    -webkit-transform: translate(-110%, 240%);
            transform: translate(-110%, 240%);
  }
  .screen5-photo-p5 {
    position: absolute;
    width: 150px;
    right: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 35px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 13em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 2em;
    font-family: Montserrat, 800;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 7px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-logo img {
    width: 85%;
  }
  header .menu-text {
    margin-left: 3px;
    text-align: center;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  header .menu-text h3 {
    color: #ffecec;
    font-size: 1.31em;
  }
  header .menu-call {
    margin-left: 50px;
  }
  header .menu-call img {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
    width: 12%;
  }
  header .menu-call h5 {
    -webkit-transform: translate(-25%, 90%);
            transform: translate(-25%, 90%);
    margin-left: 45px;
    text-align: right;
    font-size: 1.6em;
    color: #ffb40d;
  }
  header .name {
    text-align: center;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 90px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 9em;
  }
  header .name-p-first {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  header .name-p-first p {
    color: #ffecec;
    font-size: 2.4em;
    text-align: left;
    margin-top: 105px;
  }
  header .name-p-second {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-345%, -18%);
            transform: translate(-345%, -18%);
    font-size: 23em;
  }
  .screen2-desc {
    margin-top: 60px;
    margin-bottom: 250px;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 1.9em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(40%, -2200%) rotate(90deg);
            transform: translate(40%, -2200%) rotate(90deg);
    width: 115%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(260%, -20%);
            transform: translate(260%, -20%);
    font-size: 23em;
  }
  /* screen3 */
  .screen3-name h2 {
    margin-top: 70px;
    font-family: Syncopate, 800;
    font-size: 3.9em;
  }
  .screen3-name-s {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-115%, -55%);
            transform: translate(-115%, -55%);
    font-size: 23em;
  }
  .screen3-name-navvor {
    margin-top: -50px;
  }
  .screen3-name-navvor-prevS3 {
    float: left;
  }
  .screen3-name-navvor-nextS3 {
    float: right;
  }
  .screen3-slider {
    margin-top: 20px;
  }
  .screen3-slider .block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .screen3-slider-imgM {
    width: 95%;
  }
  .screen3-slider h2 {
    height: 25px;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 2em;
  }
  .screen3-slider p {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 1.4em;
    height: 100px;
  }
  .screen3-slider-a {
    text-decoration: underline;
    color: #1d3244;
    font-family: Montserrat;
    font-size: 2em;
    margin-left: 55px;
    margin-top: -30px;
  }
  .screen3-slider-data {
    margin-top: -25px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-place {
    margin-top: -34px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-geo {
    margin-top: 15px;
    margin-left: 3px;
  }
  /* screen4 */
  .screen4 {
    margin-top: 140px;
  }
  .screen4-textfirst-t p {
    font-family: Roboto;
    font-size: 1.7em;
  }
  .screen4-textsecond h3 {
    font-family: Syncopate, 800;
    font-size: 8em;
    line-height: 80%;
  }
  .screen4-textsecond p {
    margin-top: -40px;
    margin-left: 120px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2.8em;
  }
  /* screen5 */
  .screen5 .o {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    left: 3%;
    font-size: 18em;
  }
  .screen5 .w {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(320%);
            transform: translateY(320%);
    left: 1%;
    font-size: 18em;
  }
  .screen5-name h2 {
    font-family: Syncopate, 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen5-text ul {
    color: #1d3244;
    font-size: 1.8em;
    font-family: Roboto;
  }
  .screen5-text ul li span {
    color: #ffb40d;
  }
  .screen5-text h2 {
    font-family: Syncopate;
    margin-left: 125px;
    font-weight: 600;
  }
  .screen5-text button {
    text-align: center;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin-left: 125px;
    margin-bottom: 150px;
    background: #ffb40d;
    border: none;
    color: #1d3244;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 180%;
    width: 28%;
    height: 6%;
  }
  .screen5-photo-p1 {
    position: absolute;
    width: 230px;
    -webkit-transform: translate(-40%, 0%);
            transform: translate(-40%, 0%);
  }
  .screen5-photo-p2 {
    position: absolute;
    width: 150px;
    right: 0;
  }
  .screen5-photo-p3 {
    position: absolute;
    width: 300px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    right: 0;
  }
  .screen5-photo-p4 {
    position: absolute;
    width: 210px;
    -webkit-transform: translate(-70%, 210%);
            transform: translate(-70%, 210%);
  }
  .screen5-photo-p5 {
    position: absolute;
    width: 120px;
    right: 0;
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 35px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 20em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 2.9em;
    font-family: Montserrat, 800;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* basic setting */
  body {
    font-size: 8px;
  }
  /* header */
  header {
    background-image: url(../img/header_bd.jpg);
    background-size: cover;
  }
  header .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  header .menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
  }
  header .menu-text {
    text-align: center;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  header .menu-text h3 {
    color: #ffecec;
    font-size: 1.31em;
  }
  header .menu-call {
    margin-left: 50px;
  }
  header .menu-call img {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  header .menu-call h5 {
    -webkit-transform: translate(-25%, 70%);
            transform: translate(-25%, 70%);
    margin-left: 25px;
    text-align: right;
    font-size: 1.8em;
    color: #ffb40d;
  }
  header .name {
    text-align: center;
  }
  header .name-lit {
    font-family: Syncopate, 900;
    margin-top: 110px;
    color: transparent;
    text-transform: uppercase;
    text-shadow: 0 0 0px #ffb40d;
  }
  header .name-lit h2 {
    font-size: 12em;
  }
  header .name-p-first {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  header .name-p-first p {
    color: #ffecec;
    font-size: 3em;
    text-align: left;
    margin-top: 125px;
  }
  header .name-p-second {
    display: none;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-345%, -18%);
            transform: translate(-345%, -18%);
    font-size: 23em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 1.8em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(53%, -2500%) rotate(90deg);
            transform: translate(53%, -2500%) rotate(90deg);
    width: 100%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(260%, -20%);
            transform: translate(260%, -20%);
    font-size: 23em;
  }
  /* screen3 */
  .screen3-name {
    margin-top: 40px;
  }
  .screen3-name h2 {
    font-family: Syncopate, 800;
    font-size: 3.9em;
  }
  .screen3-name-s {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translate(-115%, -55%);
            transform: translate(-115%, -55%);
    font-size: 23em;
  }
  .screen3-name-navvor {
    margin-top: -30px;
  }
  .screen3-name-navvor-prevS3 {
    float: left;
  }
  .screen3-name-navvor-nextS3 {
    float: right;
  }
  .screen3-slider {
    margin-top: 30px;
  }
  .screen3-slider .block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .screen3-slider-imgM {
    width: 95%;
  }
  .screen3-slider h2 {
    height: 25px;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 2em;
  }
  .screen3-slider p {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 1.4em;
    height: 100px;
  }
  .screen3-slider-a {
    text-decoration: underline;
    color: #1d3244;
    font-family: Montserrat;
    font-size: 2em;
    margin-left: 55px;
    margin-top: -30px;
  }
  .screen3-slider-data {
    margin-top: -25px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-place {
    margin-top: -34px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-geo {
    margin-top: 15px;
    margin-left: 3px;
  }
  /* screen4 */
  .screen4 {
    margin-top: 140px;
  }
  .screen4-textfirst-t p {
    font-family: Roboto;
    font-size: 1.8em;
  }
  .screen4-textsecond h3 {
    font-family: Syncopate, 800;
    font-size: 8em;
    line-height: 80%;
  }
  .screen4-textsecond p {
    margin-top: -60px;
    margin-left: 140px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2.8em;
  }
  /* screen5 */
  .screen5-name h2 {
    font-family: Syncopate, 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen5-text ul {
    color: #1d3244;
    font-size: 1.7em;
    font-family: Roboto;
  }
  .screen5-text ul li span {
    color: #ffb40d;
  }
  .screen5-text h2 {
    font-family: Syncopate;
    margin-left: 130px;
    font-weight: 600;
  }
  .screen5-text button {
    text-align: center;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin-left: 132px;
    margin-bottom: 150px;
    background: #ffb40d;
    border: none;
    color: #1d3244;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 130%;
    width: 22%;
    height: 6%;
  }
  .screen5-photo-p1 {
    position: absolute;
    width: 280px;
    -webkit-transform: translate(-40%, 0%);
            transform: translate(-40%, 0%);
  }
  .screen5-photo-p2 {
    position: absolute;
    width: 180px;
    right: 0;
  }
  .screen5-photo-p3 {
    position: absolute;
    width: 350px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    right: 0;
  }
  .screen5-photo-p4 {
    position: absolute;
    width: 260px;
    -webkit-transform: translate(-70%, 210%);
            transform: translate(-70%, 210%);
  }
  .screen5-photo-p5 {
    position: absolute;
    width: 150px;
    right: 0;
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
  /* screen6 */
  .screen6 {
    background-image: url(../img/screen6_bg.jpg);
    background-size: cover;
  }
  .screen6 .phone {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .screen6-numbers {
    margin-top: 35px;
    text-align: center;
    color: #ffecec;
    text-shadow: 0 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen6-numbers h3 {
    font-size: 24em;
    font-family: Montserrat, 800;
  }
  .screen6-numbers h5 {
    font-size: 3.3em;
    font-family: Montserrat, 800;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 11px;
  }
  /* screen2 */
  .screen2-mission {
    font-family: Syncopate, 700;
  }
  .screen2-mission-our {
    margin-top: 70px;
  }
  .screen2-mission-our h6 {
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: left;
    color: #ffb40d;
  }
  .screen2-mission-main h2 {
    font-size: 5em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can {
    margin-top: 25px;
  }
  .screen2-mission-can h5 {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen2-mission-can-u {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    left: -130%;
    font-size: 23em;
  }
  .screen2-desc {
    margin-top: 90px;
    margin-bottom: 300px;
  }
  .screen2-desc p {
    font-family: Roboto;
    font-size: 1.8em;
  }
  .screen2-desc-we h2 {
    font-family: Montserrat, 800;
    text-align: right;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
  }
  .screen2-desc-we p {
    text-align: right;
  }
  .screen2-desc-we hr {
    border: 3px solid #EBF0FE;
    -webkit-box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
            box-shadow: 0px 4px 15px rgba(29, 50, 68, 0.31);
    -webkit-transform: translate(74.5%, -2500%) rotate(90deg);
            transform: translate(74.5%, -2500%) rotate(90deg);
    width: 70%;
  }
  .screen2-desc-partners h2 {
    font-family: Montserrat, 800;
    color: #1d3244;
  }
  .screen2-desc-partners-r {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    right: -33%;
    font-size: 23em;
  }
  /* screen3 */
  .screen3-name {
    margin-top: 40px;
  }
  .screen3-name h2 {
    font-family: Syncopate, 800;
    font-size: 3.9em;
  }
  .screen3-name-s {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    left: -28%;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
    font-size: 23em;
  }
  .screen3-name-navvor {
    margin-top: -35px;
  }
  .screen3-name-navvor-prevS3 {
    float: left;
  }
  .screen3-name-navvor-nextS3 {
    float: right;
  }
  .screen3-slider {
    margin-top: 30px;
  }
  .screen3-slider .block {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .screen3-slider-imgM {
    width: 95%;
  }
  .screen3-slider h2 {
    height: 45px;
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 2em;
  }
  .screen3-slider p {
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 1.5em;
    height: 170px;
  }
  .screen3-slider-a {
    text-decoration: underline;
    color: #1d3244;
    font-family: Montserrat;
    font-size: 2em;
    margin-left: 55px;
    margin-top: -30px;
  }
  .screen3-slider-data {
    margin-top: -25px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-place {
    margin-top: -35px;
    margin-left: 55px;
    font-family: Montserrat;
    font-size: 1.6em;
    color: #1d3244;
  }
  .screen3-slider-geo {
    margin-top: 15px;
    margin-left: 3px;
  }
  /* screen4 */
  .screen4 {
    margin-top: 100px;
  }
  .screen4 .h {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
    right: 4%;
    font-size: 23em;
  }
  .screen4-textfirst-t p {
    font-family: Roboto;
    font-size: 1.9em;
  }
  .screen4-textfirst-b {
    display: none;
  }
  .screen4-textsecond h3 {
    font-family: Syncopate, 800;
    font-size: 8em;
    line-height: 80%;
  }
  .screen4-textsecond p {
    margin-top: -60px;
    margin-left: 170px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2.8em;
  }
  /* screen5 */
  .screen5 .int {
    text-align: center;
  }
  .screen5 .o {
    position: absolute;
    text-transform: uppercase;
    color: #ffb40d;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    left: 3%;
    font-size: 19em;
  }
  .screen5 .w {
    position: absolute;
    text-transform: uppercase;
    color: #ffecec;
    text-shadow: 0px 4px 15px rgba(255, 180, 13, 0.69);
    font-family: Montserrat, 900;
    -webkit-transform: translateY(180%);
            transform: translateY(180%);
    left: 1%;
    font-size: 19em;
  }
  .screen5-name {
    margin-top: 150px;
  }
  .screen5-name h2 {
    font-family: Syncopate, 800;
    font-size: 3em;
    text-transform: uppercase;
    color: #1d3244;
  }
  .screen5-text ul {
    color: #1d3244;
    font-size: 1.8em;
    font-family: Roboto;
  }
  .screen5-text ul li span {
    color: #ffb40d;
  }
  .screen5-text h2 {
    font-family: Syncopate;
    margin-left: 150px;
    font-weight: 600;
  }
  .screen5-text button {
    text-align: center;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
    margin-left: 145px;
    margin-bottom: 150px;
    background: #ffb40d;
    border: none;
    color: #1d3244;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 130%;
    width: 22%;
    height: 6%;
  }
  .screen5-photo-p1 {
    position: absolute;
    width: 300px;
    -webkit-transform: translate(-40%, 0%);
            transform: translate(-40%, 0%);
  }
  .screen5-photo-p2 {
    position: absolute;
    width: 200px;
    right: 0;
  }
  .screen5-photo-p3 {
    position: absolute;
    width: 400px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    right: 0;
  }
  .screen5-photo-p4 {
    position: absolute;
    width: 320px;
    -webkit-transform: translate(-70%, 210%);
            transform: translate(-70%, 210%);
  }
  .screen5-photo-p5 {
    position: absolute;
    width: 180px;
    right: 0;
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
}
